{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<!-- banner -->
   <section class="banner_main">
      <div class="container">
         <div class="row">
            <div class="col-md-7 col-lg-7">
               <div class="text-bg">
                  <h1>Trusted and <br>Professional Advisers</h1>
                  <span>for your Business</span>
                  <p>Showcase your Profile to the world using online CV builder and Get Hired Faster</p>
                  <a href="#">About us</a>
               </div>
            </div>
            <div class="col-md-5 col-lg-5">
               <div class="ban_img">
                  <figure><img src=" {% static 'images/ba_ing.png' %}" alt="#" /></figure>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end banner -->
   <!-- about section -->
   <div id="about" class="about">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12 col-lg-7">
               <div class="about_box">
                  <div class="titlepage">
                     <h2><strong class="yellow">About US</strong><br> WE CAN HELP YOUR business GROW</h2>
                  </div>
                  <h3>EVERYTHING YOU NEED IN ONE SOLUTION</h3>
                  <span>HELP YOUR NEXT CAREER MOVE MORE SMOOTHER AND <br> MORE EFFICIENT</span>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of usingt</p>
                  <span class="try">TRY ONLINE CV BUILDER FOR Free</span>
                  <a class="read_morea" href="#">Get Started <i class="fa fa-angle-right" aria-hidden="true"></i></a>
               </div>
            </div>
            <div class="col-md-12 col-lg-5">
               <div class="about_img">
                  <figure><img src=" {% static 'images/about_img2.jpg'%}" alt="#" /></figure>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- about section -->
   <!-- service section -->
   <div id="service" class="service">
      <div class="container">
         <div class="row">
            <div class="col-md-7">
               <div class="titlepage">
                  <h2><strong class="yellow">service</strong><br> WE CAN HELP YOUR business GROW</h2>
               </div>
            </div>
         </div>
         <div class="row">
         
         {% for i in ser %}
         <div class="col-md-4 col-sm-6">
            <div id="ho_color" class="service_box">
               <img src="{{i.pic.url}}" alt="#"/>
               <a href="{%url 'service_d' i.pk%}"><h3>{{i.ser}}</h3></a>
               <p>{{i.abo|truncatewords:5}}</p>
            </div>
         </div>
         {% endfor %}

            <div class="col-md-12">
               <a class="read_more" href="#">Read More</a>
            </div>
         </div>
      </div>
   </div>
   </div>
   <!-- service section -->
   <!-- portfolio -->
   <div class="portfolio">
      <div class="container">
         <div class="row">
            <div class="col-md-12 ">
               <div class="titlepage">
                  <h2><strong class="yellow">PORTFOLIO</strong><br> CHOOSE A PROFESSIONAL DESIGN</h2>
                  <span>Websites</span>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distrib</p>
               </div>
            </div>
         </div>
      </div>
      <div id="myCarousel" class="carousel slide portfolio_Carousel " data-ride="carousel">
         <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
         </ol>
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                  <div class="carousel-caption ">
                     <div class="row">
                        <div class="col-md-3 col-sm-6">
                           <div class="portfolio_img">
                              <img src=" {% static 'images/potf1.jpg'%}" alt="#" />
                              <div class="middle">
                                 <div class="text2">View More</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                           <div class="portfolio_img">
                              <img src=" {% static 'images/potf2.jpg'%}" alt="#" />
                              <div class="middle">
                                 <div class="text2">View More</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                           <div class="portfolio_img">
                              <img src=" {% static 'images/potf3.jpg'%}" alt="#" />
                              <div class="middle">
                                 <div class="text2">View More</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                           <div class="portfolio_img">
                              <img src=" {% static 'images/potf4.jpg'%}" alt="#" />
                              <div class="middle">
                                 <div class="text2">View More</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <a class="read_more" href="#">Read More</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="carousel-caption">
                     <div class="row">
                        <div class="col-md-3 col-sm-6">
                           <div class="portfolio_img">
                              <img src=" {% static 'images/potf1.jpg'%}" alt="#" />
                              <div class="middle">
                                 <div class="text2">View More</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                           <div class="portfolio_img">
                              <img src=" {% static 'images/potf2.jpg'%}" alt="#" />
                              <div class="middle">
                                 <div class="text2">View More</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                           <div class="portfolio_img">
                              <img src=" {% static 'images/potf3.jpg'%}" alt="#" />
                              <div class="middle">
                                 <div class="text2">View More</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                           <div class="portfolio_img">
                              <img src=" {% static 'images/potf4.jpg'%}" alt="#" />
                              <div class="middle">
                                 <div class="text2">View More</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <a class="read_more" href="#">Read More</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="carousel-caption">
                     <div class="row">
                        <div class="col-md-3 col-sm-6">
                           <div class="portfolio_img">
                              <img src=" {% static 'images/potf1.jpg'%}" alt="#" />
                              <div class="middle">
                                 <div class="text2">View More</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                           <div class="portfolio_img">
                              <img src=" {% static 'images/potf2.jpg'%}" alt="#" />
                              <div class="middle">
                                 <div class="text2">View More</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                           <div class="portfolio_img">
                              <img src=" {% static 'images/potf3.jpg'%}" alt="#" />
                              <div class="middle">
                                 <div class="text2">View More</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                           <div class="portfolio_img">
                              <img src=" {% static 'images/potf4.jpg'%}" alt="#" />
                              <div class="middle">
                                 <div class="text2">View More</div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <a class="read_more" href="#">Read More</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
         </a>
         <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
         </a>
      </div>
   </div>
   <!-- end portfolio section -->
   <!-- business  section -->
   <div class="business">
      <div class="container">
         <div class="row">
            <div class="col-md-7">
               <div class="titlepage">
                  <h2><strong class="yellow">CREATE</strong><br>PERSONALISED Business</h2>
                  <p>ss normal distribution of letters, as opposed to using </p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3 col-sm-6">
               <div id="ho_color" class="business_box">
                  <i><img src=" {% static 'images/business_icon1.png'%}" alt="#" /></i>
                  <h3>23</h3>
                  <p>NOMINATIONS </p>
               </div>
            </div>
            <div class="col-md-3 col-sm-6">
               <div id="ho_color" class="business_box">
                  <i><img src=" {% static 'images/business_icon2.png'%}" alt="#" /></i>
                  <h3>31</h3>
                  <p>AGENCIES</p>
               </div>
            </div>
            <div class="col-md-3 col-sm-6">
               <div id="ho_color" class="business_box">
                  <i><img src=" {% static 'images/business_icon3.png'%}" alt="#" /></i>
                  <h3>7</h3>
                  <p>AWARDS</p>
               </div>
            </div>
            <div class="col-md-3 col-sm-6">
               <div id="ho_color" class="business_box">
                  <i><img src=" {% static 'images/business_icon4.png'%}" alt="#" /></i>
                  <h3>8</h3>
                  <p>Supported </p>
               </div>
            </div>
            <div class="col-md-12">
               <a class="read_more" href="#">Read More</a>
            </div>
         </div>
      </div>
   </div>
   <!-- end business  section -->
   <!-- team  section -->
   <div id="team" class="team">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2><strong class="yellow">Team</strong><br>We Have a Professional Team of Business Analysts.</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div id="team" class="carousel slide team_Carousel " data-ride="carousel">
                  <ol class="carousel-indicators">
                     {% for w in wc %}
                     {% if forloop.first %}
                     <li data-target="#team" data-slide-to="forloop.counter0" class="active"></li>
                     {% else %}
                     <li data-target="#team" data-slide-to="forloop.counter0"></li>
                     {% endif %}
                     {% endfor %}
                  </ol>
                  <div class="carousel-inner">
                     {% for w in wc.values %}
                     {% if forloop.first %}
                     <div class="carousel-item active">
                     {% else %}
                     <div class="carousel-item">
                     {% endif %}
                        <div class="container">
                           <div class="carousel-caption ">
                              <div class="row">
                                 {% for i in w %} 
                                 {% if forloop.last %}
                                 <div class="col-md-4 col-sm-6  d_none1">
                                 {% else %}
                                 <div class="col-md-4 col-sm-6">
                                 {% endif %} 
                                    <div id="ho_bg" class="team_img">
                                       <img src="{{i.pic.url}}" alt="#"/>
                                       <div class="ho_socal">
                                          <ul class="social_icont">
                                             <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                             <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                             <li> <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                             <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 {% endfor %} 
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#team" role="button" data-slide="prev">
                  <i class="fa fa-chevron-left" aria-hidden=""></i>
                  </a>
                  <a class="carousel-control-next" href="#team" role="button" data-slide="next">
                  <i class="fa fa-chevron-right" aria-hidden=""></i>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end team  section -->
   <!-- testimonial -->
   <div id="client" class="testimonial">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2><strong class="yellow">testimonial</strong><br>What is Syas our clients</h2>
               </div>
            </div>
         </div>
      </div>
      <div id="testimo" class="carousel slide testimonial_Carousel " data-ride="carousel">
         <ol class="carousel-indicators">
         {% for c in cln %}
         {% if forloop.first %}
         <li data-target="#testimo" data-slide-to="{{forloop.counter0}}" class="active"></li>
         {% else %}
         <li data-target="#testimo" data-slide-to="{{forloop.counter0}}"></li>
         {% endif %}
         {%endfor%}
         </ol>
         <div class="carousel-inner">
         {% for c in cln %}
            {% if forloop.first %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
               <div class="container">
                  <div class="carousel-caption ">
                     <div class="row">
                        <div class="col-md-6 offset-md-3">
                           <div class="test_box">
                              <p>{{c.mesg|truncatewords:20}}</p>
                              {% if c.pic %}<i style="
                              background-image: url({{c.pic.url}});
                              background-size: cover;
                              height: 400px;
                              width: 600px;
                              background-position:center;
                              "></i>  {% endif %} <span>{{c.name}}</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         {% endfor %}
         </div>
         <a class="carousel-control-prev" href="#testimo" role="button" data-slide="prev">
         <i class="fa fa-chevron-left" aria-hidden="true"></i>
         </a>
         <a class="carousel-control-next" href="#testimo" role="button" data-slide="next">
         <i class="fa fa-chevron-right" aria-hidden="true"></i>
         </a>
      </div>   
   </div>
   <!-- end testimonial -->
   <!-- contact  section -->
   <div id="contact" class="contact ">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2><strong class="yellow">Contact us</strong><br>Request a call back</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-8 offset-md-2">
               <form id="post_form" class="contact_form" method='post' enctype="multipart/form-data">
                  <div class="row">
                    {% csrf_token %}
                    {% for f in form %}
                        <div class='error' style="color:red">{{f.errors}}</div>
                        {{f}}
                    {% endfor %}
                     <div class="col-md-12">
                        <input type="submit" class="send_btn" value="Save">
                     </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   </div>
   <!-- end contact  section -->
{% endblock content %}
